@import './variables';
@import './menu';
@import './home';
@import './about';
@import './projects';
@import './contacts';
@import './configg';
body{
    background: $alt-primary-color;
    color: set-text-color($alt-primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    line-height: 1;
    user-select: none;
}

.text-secondary {
    color: $secondary-color;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: set-text-color($alt-primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    padding: 1rem;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;

        a {
            padding: 0.4rem;
            @include transition-ease;

            &:hover {
                color: $alt-secondary-color;
            }
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    text-align: right;
    right: 1rem;
    padding: 1rem;
    color: set-text-color($alt-primary-color);
}

